.btn--calculator {
  width: $button-width;
  padding: 10px;
  display: inline-block;
  margin: 4px;
  border-radius: 5px;
  text-align: center;
  font-weight: 500;
  cursor: pointer;

  &.button1, &.button2, &.button3 {
    &:active {
      box-sizing: border-box;
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      box-shadow: 0 0 5px rgba(0,0,0,0.2);
      margin: 2px 4px;
    }
  }

  &.button1 {
    background-color: $button-1;
    &:hover {
      background-color: darken($button-1, 2%);
    }
    &:active {
      border: 1px solid darken($color: $button-1, $amount: 10%);
    }
    
  }
  &.button2 {
    background-color: $button-2;
    &:hover {
      background-color: darken($button-2, 2%);
    }
    &:active {
      border: 1px solid darken($color: $button-2, $amount: 10%);
    }
  }
  &.button3 {
    background-color: $button-3;
    font-size: 16px;
    font-weight: 900;
    color: #fff;
    &:hover {
      background-color: darken($button-3, 2%);
    }
    &:active {
      border: 1px solid darken($color: $button-3, $amount: 20%);
    }
  }
}

.btn--calculator:first-child,
.btn--calculator:nth-child(2) {
  background-color: $button-1;
  margin: 0;
  width: 110px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  &:active {
    border: 1px solid darken($color: $button-3, $amount: 20%);
    margin: 0;
  }
}

.btn--calculator:first-child {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-right: 1px solid darken($color: $button-1, $amount: 4%);
  margin-left: 4px;
  &:active {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-shadow: 0 0 5px rgba(0,0,0,0.2);
    margin: 0px 2px;
  }
}

.btn--calculator:nth-child(2) {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-left: 1px solid darken($color: $button-1, $amount: 4%);
  margin-right: 5px;
  &:active {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-shadow: 0 0 5px rgba(0,0,0,0.2);
    margin: 0px 2px;
  }
}